<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper	namespace="com.hein.empti.buyorders.mapper.BuyordersMapper">
	<!-- 구매주문 전체조회 -->
	<select id="getBuyordersListMap" resultType="map">
		SELECT  TO_CHAR(order_date, 'yyyy-MM-dd hh24:mi') "order_date",
					buy_sum 			"buy_sum",
					name				"name", 	
					company_name		"company_name",
					order_no			"order_no"
		FROM 		buyorders bo, companies p, employees e
		WHERE	 	bo.company_no = p.company_no and 
					bo.emp_id 	  = e.emp_id
					<![CDATA[and buy_sum >= 0 ]]>
		ORDER BY	order_date			
	</select>
	
	<!-- 구매주문 단건조회 -->
	<select id="getBuyorders" resultType="BuyordersVO">
		SELECT *
		FROM BUYORDERS
		WHERE order_no = #{order_no}
	</select>
	
	<!-- 구매주문 시퀀스조회 -->
	<select id="getBuySeq" resultType="String">
		SELECT Buymaster_seq.NEXTVAL "seqval"
		FROM dual
	</select>
	
	
	<!-- 구매주문 등록 -->
	<insert id="setInsertBuyorders" parameterType="BuyordersVO">
		INSERT INTO	BUYORDERS
		(order_no,
		order_date,
		buy_sum,
		company_no,
		emp_id
		)
		VALUES (
		#{order_no},
		To_date(#{order_date}, 'yyyy-MM-dd hh24:mi'),
		#{buy_sum},
		#{company_no},
		#{emp_id}
		)
	</insert>

	<!-- 구매주문수정 -->
	<update id="setUpdateBuyorders" parameterType="BuyordersVO">
		UPDATE BUYORDERS
		<set>
			<if test="order_date != null">order_date = To_date(#{order_date},'yyyy-MM-dd hh24:mi'),
			</if>
			<if test="buy_sum != null">buy_sum = #{buy_sum},</if>
			<if test="company_no != null">company_no = #{company_no},</if>
			<if test="emp_id != null">emp_id = #{emp_id}</if>
		</set>
		WHERE order_no = #{order_no}
	</update>

	<delete id="setDeleteBuyorders" parameterType="BuyordersVO">
		DELETE FROM	BUYORDERS
		WHERE order_no = #{order_no}
	</delete>
	
	
		<!-- 반품 조회 -->
	<select id="getReturnBuyordersList" parameterType="BuyordersVO" resultType="BuyordersVO">
		SELECT * from buyorders
		<![CDATA[where buy_sum < 0 ]]>
		order by order_no
	</select>
	
	<!-- 반품 업데이트 -->
	<update id="setUpdateBuyordersRetrun" parameterType="BuyordersVO">
		UPDATE buyorders 
		SET
		buy_sum = -1 * buy_sum,
		return_date = sysdate
		WHERE order_no = #{order_no}
	</update>
	
</mapper>