<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hein.empti.saleorderdetails.mapper.SaleorderdetailsMapper">

	<insert id="setSaleorderdetailInsert" parameterType="java.util.List">
		INSERT INTO saleorderdetails (
		orderdetail_no,
		item_no,
		order_qty,
		order_no
		)
		SELECT saledetail_seq.nextval, A.*
		from (
		<foreach collection="list" item="item" separator="UNION ALL">
			select 
			#{item.item_no}, #{item.order_qty}, #{item.order_no}
			from dual
		</foreach>
		) "A"
	</insert>
</mapper>