<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hein.empti.saleorders.mapper.SaleordersMapper">
	<!-- #{}, test 는 VO에 있는 필드를 가져오는거다 -->

	<!-- 판매주문단건조회 -->
	<select id="getSaleorders" parameterType="SaleordersVO"	resultType="SaleordersVO">
		SELECT *
		FROM SALEORDERS
		WHERE ORDER_NO = #{order_no}
		ORDER BY
		ORDER_NO
	</select>

	<!-- 판매주문전체조회 list -->
	<select id="getSaleordersList" resultType="SaleordersVO">
		SELECT *
		FROM SALEORDERS
		ORDER BY ORDER_NO
	</select>

	<!-- 판매주문등록 -->
	<insert id="setInsertSaleorders" parameterType="SaleordersVO">
		INSERT INTO saleorders (
		ORDER_NO,
		ORDER_DATE,
		SALE_SUM,
		DEL_STATUS,
		EMP_ID,
		STOCK_NO,
		COMPANY_NO
		) 
		VALUES (
		#{order_no},
		To_date(#{order_date}, 'yyyy-MM-dd hh24:mi:ss'),
		#{sale_sum},
		#{del_status},
		#{emp_id},
		#{stock_no},
		#{company_no})
	</insert>

	<!-- 판매주문수정 -->
	<update id="setUpdateSaleorders" parameterType="SaleordersVO">
		UPDATE SALEORDERS
		<set>
			<if test="order_no != null">ORDER_NO = #{order_no},</if>
			<if test="order_date != null">ORDER_DATE = #{order_date},</if>
			<if test="sale_sum != null">SALE_SUM = #{sale_sum},</if>
			<if test="del_status != null">DEL_STATUS = #{del_status},</if>
			<if test="emp_id != null">EMP_ID = #{emp_id},</if>
			<if test="emp_id != null">STOCK_NO = #{stock_no},</if>
			<if test="company_no != null">COMPANY_NO = #{company_no},</if>
		</set>
		WHERE
		ORDER_NO = #{order_no}
	</update>

	<!-- 판매주문삭제 -->
	<!-- <delete id="setDeleteSaleorders" parameterType="SaleordersVO"> DELETE 
		FROM SALEORDERS WHERE ORDER_NO = #{order_no} </delete> -->

</mapper>