<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- empti_mapper.xml -->
<mapper namespace="com.hein.empti.stocks.mapper.StocksMapper">

	<!-- 전체조회 -->
	<select id="getStocksList" resultType="StocksVO">
		SELECT *
		FROM stocks
		ORDER BY stock_no
	</select>

	<!-- stockexcel_view 전체조회 Map(Excel) -->
	<select id="getStocksMap" resultType="map"
		parameterType="StocksVO">
		select*from stockexcel_view
	</select>

	<!-- 입출고 등록 -->
	<insert id="setInsertStocks" parameterType="StocksVO">
		INSERT INTO STOCKS ( stock_no,
		item_no,
		stock_category,
		stock_qty,
		stock_price,
		stock_date,
		strg_no,
		detail_no,
		note
		)
		VALUES(
		#{stock_no},
		#{item_no},
		#{stock_category},
		#{stock_qty},
		#{stock_price},
		To_date(#{stock_date},'yyyy-MM-dd hh24:mi:ss'),
		#{strg_no},
		#{detail_no},
		#{note}
		)
	</insert>

	<!-- 입출고 내역 수정 -->
	<update id="setUpdateStocks" parameterType="StocksVO">
		<!-- null체크 후 변경 . 동적 쿼리 -->

		UPDATE stocks
		<set>
			<if test="stock_qty != null">stock_qty=#{stock_qty},</if>
			<if test="stock_date != null">stock_date=To_date(#{stock_date},'yyyy-MM-dd hh24:mi'),
			</if>
			<if test="note != null">note=#{note},</if>
			<if test="stock_price != null">stock_price=#{stock_price},</if>
			<if test="stock_category != null">stock_category=#{stock_category},</if>
			<if test="detail_no != null">detail_no=#{detail_no},</if>
			<if test="item_no != null">item_no=#{item_no},</if>
			<if test="strg_no != null">strg_no=#{strg_no}</if>
		</set>
		WHERE stock_no=#{stock_no}
	</update>

	<!-- 입출고 단건조회 -->
	<select id="getStocks" resultType="StocksVO"
		parameterType="StocksVO">
		SELECT 		s.*, i.*
		FROM		stocks s, items i
		WHERE 		s.item_no=i.item_no and
					s.stock_no = #{stock_no}
	</select>



</mapper>