<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- empti_mapper.xml -->
<mapper namespace="com.hein.empti.stocks.mapper.StocksMapper">

	<!-- 전체조회 -->
	<select id="getStocksList" parameterType="StocksVO" resultType="StocksVO">
		SELECT *
		FROM stocks
	<where>
	<if test="selectCategory != null and selectCategory != '' ">	
		stock_category = #{selectCategory}
	</if>
	<if test="startDate != null and startDate != '' ">	
		<![CDATA[
		  AND   trunc(stock_date) >= to_date(#{startDate}, 'YYYY-MM-DD' )
			]]>
	</if>
		<if test="endDate != null and endDate != '' ">	
		<![CDATA[
		  AND	trunc(stock_date) <= to_date(#{endDate}, 'YYYY-MM-DD')
			]]>
	</if>
	</where>	
		ORDER BY stock_no
	</select>

	<!-- stockexcel_view 전체조회 Map(Excel) -->
	<select id="getStocksMap" resultType="map"	parameterType="StocksVO">
		SELECT * FROM stockexcel_view
	</select>

	<!-- 입출고 등록 -->
	<insert id="setInsertStocks" parameterType="StocksVO">
		INSERT INTO STOCKS ( 
		stock_no,
		stock_date,
		stock_qty,
		stock_category,
		strg_no,
		item_no,
		stock_status,
		sorder_no,
		border_no
		)
		VALUES(
		( SELECT NVL(MAX(stock_no), 0)+1 FROM stocks ),
		TO_DATE(#{stock_date}, 'yyyy-MM-dd hh24:mi:ss'),
		#{stock_qty},
		#{stock_category},
		#{strg_no},
		#{item_no},
		#{stock_status},
		#{sorder_no},
		#{border_no}
		)
	</insert>

	<!-- 입출고 내역 수정 -->
	<update id="setUpdateStocks" parameterType="StocksVO">
		<!-- null체크 후 변경 . 동적 쿼리 -->
		UPDATE stocks
		<set>
			<if test="stock_date != null">
			stock_date = TO_DATE(#{stock_date},'yyyy-MM-dd hh24:mi'),
			</if>
			<if test="stock_qty != null">stock_qty = #{stock_qty},</if>
			<if test="stock_category != null">stock_category = #{stock_category},</if>
			<if test="item_no != null">item_no=#{item_no},</if>
			<if test="strg_no != null">strg_no=#{strg_no},</if>
			<if test="stock_status != null">stock_status = #{stock_status},</if>
			<if test="sorder_no != null">sorder_no = #{sorder_no},</if>
			<if test="border_no != null">border_no = #{border_no}</if>
		</set>
		WHERE stock_no = #{stock_no}
	</update>

	<!-- 입출고 단건조회 -->
	<select id="getStocks" resultType="StocksVO"
		parameterType="StocksVO">
		SELECT 		s.*, i.*
		FROM		stocks s, items i
		WHERE 		s.item_no = i.item_no and
					s.stock_no = #{stock_no}
	</select>
</mapper>